<!---- Coding Assignment ----->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid bg-secondary">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Specials</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-light" href="#">Map</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row mt-4">
      <div class="col-4">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Menu</h5>
      <p class="card-text">The menu of restaurant is here</p>
      <a href="#" class="card-link">Open the menu</a>
    </div>
  </div>
</div>
<div class="col-4">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Specials</h5>
      <p class="card-text">The speacials are here</p>
      <a href="#" class="card-link">Open the specials</a>
    </div>
  </div>
</div>
<div class="col-4">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">MAP</h5>
      <p class="card-text">The location</p>
      <a href="#" class="card-link">Open the map</a>
    </div>
  </div>
</div>
</div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
    integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
    crossorigin="anonymous"></script>
    <script>
const specialsTile = document.getElementById('specials-tile'); 
specialsTile.addEventListener('click', redirectToRandomCategory);


const menuCategories = ['Lunch', 'Dinner', 'Sushi', 'Beverages', 'Desserts', /* Add more categories as needed */];


function getRandomCategory() {
  const randomIndex = Math.floor(Math.random() * menuCategories.length);
  return menuCategories[randomIndex];
}


function redirectToRandomCategory() {
  const randomCategory = getRandomCategory();
 
  window.location.href = `#/menu/${randomCategory.toLowerCase()}`;
}
  </script>
</body>
</html>
